{
  "openapi": "3.0.3",
  "info": {
    "title": "Telegram Bot API",
    "version": "Bot API 9.2",
    "description": "Auto-generated from https://core.telegram.org/bots/api.\nRelease date: August 15, 2025.\nChangelog: https://core.telegram.org/bots/api#august-15-2025"
  },
  "servers": [
    {
      "url": "https://api.telegram.org/bot{token}",
      "variables": {
        "token": {
          "description": "Telegram bot token",
          "default": "YOUR_BOT_TOKEN"
        }
      }
    }
  ],
  "paths": {
    "/getUpdates": {
      "post": {
        "operationId": "getUpdates",
        "summary": "Use this method to receive incoming updates using long polling (wiki). Returns an Array of Update objects.",
        "description": "Use this method to receive incoming updates using long polling (wiki). Returns an Array of Update objects.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Update"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the first update to be returned. Must be greater by one than the highest among the identifiers of previously received updates. By default, updates starting with the earliest unconfirmed update are returned. An update is considered confirmed as soon as getUpdates is called with an offset higher than its update_id. The negative offset can be specified to retrieve updates starting from -offset update from the end of the updates queue. All previous updates will be forgotten."
                  },
                  "limit": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Limits the number of updates to be retrieved. Values between 1-100 are accepted. Defaults to 100."
                  },
                  "timeout": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Timeout in seconds for long polling. Defaults to 0, i.e. usual short polling. Should be positive, short polling should be used for testing purposes only."
                  },
                  "allowed_updates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A JSON-serialized list of the update types you want your bot to receive. For example, specify [\"message\", \"edited_channel_post\", \"callback_query\"] to only receive updates of these types. See Update for a complete list of available update types. Specify an empty list to receive all update types except chat_member, message_reaction, and message_reaction_count (default). If not specified, the previous setting will be used. Please note that this parameter doesn't affect updates created before the call to getUpdates, so unwanted updates may be received for a short period of time."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/setWebhook": {
      "post": {
        "operationId": "setWebhook",
        "summary": "Use this method to specify a URL and receive incoming updates via an outgoing webhook. Whenever there is an update for the bot, we will send an HTTPS POST request to the specified URL, containing a JSON-serialized Update. In case of an unsuccessful request (a request with response HTTP status code different from 2XY), we will repeat the request and give up after a reasonable amount of attempts. Returns True on success.",
        "description": "Use this method to specify a URL and receive incoming updates via an outgoing webhook. Whenever there is an update for the bot, we will send an HTTPS POST request to the specified URL, containing a JSON-serialized Update. In case of an unsuccessful request (a request with response HTTP status code different from 2XY), we will repeat the request and give up after a reasonable amount of attempts. Returns True on success.\nIf you'd like to make sure that the webhook was set by you, you can specify secret data in the parameter secret_token. If specified, the request will contain a header \"X-Telegram-Bot-Api-Secret-Token\" with the secret token as content.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "description": "HTTPS URL to send updates to. Use an empty string to remove webhook integration"
                  },
                  "certificate": {
                    "$ref": "#/components/schemas/InputFile",
                    "description": "Upload your public key certificate so that the root certificate in use can be checked. See our self-signed guide for details."
                  },
                  "ip_address": {
                    "type": "string",
                    "description": "The fixed IP address which will be used to send webhook requests instead of the IP address resolved through DNS"
                  },
                  "max_connections": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The maximum allowed number of simultaneous HTTPS connections to the webhook for update delivery, 1-100. Defaults to 40. Use lower values to limit the load on your bot's server, and higher values to increase your bot's throughput."
                  },
                  "allowed_updates": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "A JSON-serialized list of the update types you want your bot to receive. For example, specify [\"message\", \"edited_channel_post\", \"callback_query\"] to only receive updates of these types. See Update for a complete list of available update types. Specify an empty list to receive all update types except chat_member, message_reaction, and message_reaction_count (default). If not specified, the previous setting will be used. Please note that this parameter doesn't affect updates created before the call to the setWebhook, so unwanted updates may be received for a short period of time."
                  },
                  "drop_pending_updates": {
                    "type": "boolean",
                    "description": "Pass True to drop all pending updates"
                  },
                  "secret_token": {
                    "type": "string",
                    "description": "A secret token to be sent in a header \"X-Telegram-Bot-Api-Secret-Token\" in every webhook request, 1-256 characters. Only characters A-Z, a-z, 0-9, _ and - are allowed. The header is useful to ensure that the request comes from a webhook set by you."
                  }
                },
                "required": [
                  "url"
                ]
              }
            }
          }
        }
      }
    },
    "/deleteWebhook": {
      "post": {
        "operationId": "deleteWebhook",
        "summary": "Use this method to remove webhook integration if you decide to switch back to getUpdates. Returns True on success.",
        "description": "Use this method to remove webhook integration if you decide to switch back to getUpdates. Returns True on success.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "drop_pending_updates": {
                    "type": "boolean",
                    "description": "Pass True to drop all pending updates"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getWebhookInfo": {
      "post": {
        "operationId": "getWebhookInfo",
        "summary": "Use this method to get current webhook status. Requires no parameters. On success, returns a WebhookInfo object. If the bot is using getUpdates, will return an object with the url field empty.",
        "description": "Use this method to get current webhook status. Requires no parameters. On success, returns a WebhookInfo object. If the bot is using getUpdates, will return an object with the url field empty.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookInfo"
                }
              }
            }
          }
        }
      }
    },
    "/getMe": {
      "post": {
        "operationId": "getMe",
        "summary": "A simple method for testing your bot's authentication token. Requires no parameters. Returns basic information about the bot in form of a User object.",
        "description": "A simple method for testing your bot's authentication token. Requires no parameters. Returns basic information about the bot in form of a User object.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/logOut": {
      "post": {
        "operationId": "logOut",
        "summary": "Use this method to log out from the cloud Bot API server before launching the bot locally. You must log out the bot before running it locally, otherwise there is no guarantee that the bot will receive updates. After a successful call, you can immediately log in on a local server, but will not be able to log in back to the cloud Bot API server for 10 minutes. Returns True on success. Requires no parameters.",
        "description": "Use this method to log out from the cloud Bot API server before launching the bot locally. You must log out the bot before running it locally, otherwise there is no guarantee that the bot will receive updates. After a successful call, you can immediately log in on a local server, but will not be able to log in back to the cloud Bot API server for 10 minutes. Returns True on success. Requires no parameters.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/close": {
      "post": {
        "operationId": "close",
        "summary": "Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns True on success. Requires no parameters.",
        "description": "Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns True on success. Requires no parameters.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/sendMessage": {
      "post": {
        "operationId": "sendMessage",
        "summary": "Use this method to send text messages. On success, the sent Message is returned.",
        "description": "Use this method to send text messages. On success, the sent Message is returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "text": {
                    "type": "string",
                    "description": "Text of the message to be sent, 1-4096 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the message text. See formatting options for more details."
                  },
                  "entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in message text, which can be specified instead of parse_mode"
                  },
                  "link_preview_options": {
                    "$ref": "#/components/schemas/LinkPreviewOptions",
                    "description": "Link preview generation options for the message"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; for private chats only"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "text"
                ]
              }
            }
          }
        }
      }
    },
    "/forwardMessage": {
      "post": {
        "operationId": "forwardMessage",
        "summary": "Use this method to forward messages of any kind. Service messages and messages with protected content can't be forwarded. On success, the sent Message is returned.",
        "description": "Use this method to forward messages of any kind. Service messages and messages with protected content can't be forwarded. On success, the sent Message is returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be forwarded; required if the message is forwarded to a direct messages chat"
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format @channelusername)"
                  },
                  "video_start_timestamp": {
                    "type": "integer",
                    "format": "int64",
                    "description": "New start timestamp for the forwarded video in the message"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the forwarded message from forwarding and saving"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only"
                  },
                  "message_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Message identifier in the chat specified in from_chat_id"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            }
          }
        }
      }
    },
    "/forwardMessages": {
      "post": {
        "operationId": "forwardMessages",
        "summary": "Use this method to forward multiple messages of any kind. If some of the specified messages can't be found or forwarded, they are skipped. Service messages and messages with protected content can't be forwarded. Album grouping is kept for forwarded messages. On success, an array of MessageId of the sent messages is returned.",
        "description": "Use this method to forward multiple messages of any kind. If some of the specified messages can't be found or forwarded, they are skipped. Service messages and messages with protected content can't be forwarded. Album grouping is kept for forwarded messages. On success, an array of MessageId of the sent messages is returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageId"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the messages will be forwarded; required if the messages are forwarded to a direct messages chat"
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the chat where the original messages were sent (or channel username in the format @channelusername)"
                  },
                  "message_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat from_chat_id to forward. The identifiers must be specified in a strictly increasing order."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the messages silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the forwarded messages from forwarding and saving"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            }
          }
        }
      }
    },
    "/copyMessage": {
      "post": {
        "operationId": "copyMessage",
        "summary": "Use this method to copy messages of any kind. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_id is known to the bot. The method is analogous to the method forwardMessage, but the copied message doesn't have a link to the original message. Returns the MessageId of the sent message on success.",
        "description": "Use this method to copy messages of any kind. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_id is known to the bot. The method is analogous to the method forwardMessage, but the copied message doesn't have a link to the original message. Returns the MessageId of the sent message on success.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageId"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the chat where the original message was sent (or channel username in the format @channelusername)"
                  },
                  "message_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Message identifier in the chat specified in from_chat_id"
                  },
                  "video_start_timestamp": {
                    "type": "integer",
                    "format": "int64",
                    "description": "New start timestamp for the copied video in the message"
                  },
                  "caption": {
                    "type": "string",
                    "description": "New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the new caption. See formatting options for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the new caption, which can be specified instead of parse_mode"
                  },
                  "show_caption_above_media": {
                    "type": "boolean",
                    "description": "Pass True, if the caption must be shown above the message media. Ignored if a new caption isn't specified."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            }
          }
        }
      }
    },
    "/copyMessages": {
      "post": {
        "operationId": "copyMessages",
        "summary": "Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_id is known to the bot. The method is analogous to the method forwardMessages, but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an array of MessageId of the sent messages is returned.",
        "description": "Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz poll can be copied only if the value of the field correct_option_id is known to the bot. The method is analogous to the method forwardMessages, but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an array of MessageId of the sent messages is returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MessageId"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the messages will be sent; required if the messages are sent to a direct messages chat"
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the chat where the original messages were sent (or channel username in the format @channelusername)"
                  },
                  "message_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat from_chat_id to copy. The identifiers must be specified in a strictly increasing order."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the messages silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent messages from forwarding and saving"
                  },
                  "remove_caption": {
                    "type": "boolean",
                    "description": "Pass True to copy the messages without their captions"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            }
          }
        }
      }
    },
    "/sendPhoto": {
      "post": {
        "operationId": "sendPhoto",
        "summary": "Use this method to send photos. On success, the sent Message is returned.",
        "description": "Use this method to send photos. On success, the sent Message is returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "photo": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Photo to send. Pass a file_id as String to send a photo that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a photo from the Internet, or upload a new photo using multipart/form-data. The photo must be at most 10 MB in size. The photo's width and height must not exceed 10000 in total. Width and height ratio must be at most 20. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Photo caption (may also be used when resending photos by file_id), 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the photo caption. See formatting options for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of parse_mode"
                  },
                  "show_caption_above_media": {
                    "type": "boolean",
                    "description": "Pass True, if the caption must be shown above the message media"
                  },
                  "has_spoiler": {
                    "type": "boolean",
                    "description": "Pass True if the photo needs to be covered with a spoiler animation"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; for private chats only"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "photo"
                ]
              }
            }
          }
        }
      }
    },
    "/sendAudio": {
      "post": {
        "operationId": "sendAudio",
        "summary": "Use this method to send audio files, if you want Telegram clients to display them in the music player. Your audio must be in the .MP3 or .M4A format. On success, the sent Message is returned. Bots can currently send audio files of up to 50 MB in size, this limit may be changed in the future.",
        "description": "Use this method to send audio files, if you want Telegram clients to display them in the music player. Your audio must be in the .MP3 or .M4A format. On success, the sent Message is returned. Bots can currently send audio files of up to 50 MB in size, this limit may be changed in the future.\nFor sending voice messages, use the sendVoice method instead.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "audio": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Audio file to send. Pass a file_id as String to send an audio file that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get an audio file from the Internet, or upload a new one using multipart/form-data. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Audio caption, 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the audio caption. See formatting options for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of parse_mode"
                  },
                  "duration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Duration of the audio in seconds"
                  },
                  "performer": {
                    "type": "string",
                    "description": "Performer"
                  },
                  "title": {
                    "type": "string",
                    "description": "Track name"
                  },
                  "thumbnail": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass \"attach://<file_attach_name>\" if the thumbnail was uploaded using multipart/form-data under <file_attach_name>. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; for private chats only"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "audio"
                ]
              }
            }
          }
        }
      }
    },
    "/sendDocument": {
      "post": {
        "operationId": "sendDocument",
        "summary": "Use this method to send general files. On success, the sent Message is returned. Bots can currently send files of any type of up to 50 MB in size, this limit may be changed in the future.",
        "description": "Use this method to send general files. On success, the sent Message is returned. Bots can currently send files of any type of up to 50 MB in size, this limit may be changed in the future.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "document": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "File to send. Pass a file_id as String to send a file that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a file from the Internet, or upload a new one using multipart/form-data. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "thumbnail": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass \"attach://<file_attach_name>\" if the thumbnail was uploaded using multipart/form-data under <file_attach_name>. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Document caption (may also be used when resending documents by file_id), 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the document caption. See formatting options for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of parse_mode"
                  },
                  "disable_content_type_detection": {
                    "type": "boolean",
                    "description": "Disables automatic server-side content type detection for files uploaded using multipart/form-data"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; for private chats only"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "document"
                ]
              }
            }
          }
        }
      }
    },
    "/sendVideo": {
      "post": {
        "operationId": "sendVideo",
        "summary": "Use this method to send video files, Telegram clients support MPEG4 videos (other formats may be sent as Document). On success, the sent Message is returned. Bots can currently send video files of up to 50 MB in size, this limit may be changed in the future.",
        "description": "Use this method to send video files, Telegram clients support MPEG4 videos (other formats may be sent as Document). On success, the sent Message is returned. Bots can currently send video files of up to 50 MB in size, this limit may be changed in the future.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "video": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Video to send. Pass a file_id as String to send a video that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a video from the Internet, or upload a new video using multipart/form-data. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "duration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Duration of sent video in seconds"
                  },
                  "width": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Video width"
                  },
                  "height": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Video height"
                  },
                  "thumbnail": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass \"attach://<file_attach_name>\" if the thumbnail was uploaded using multipart/form-data under <file_attach_name>. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "cover": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Cover for the video in the message. Pass a file_id to send a file that exists on the Telegram servers (recommended), pass an HTTP URL for Telegram to get a file from the Internet, or pass \"attach://<file_attach_name>\" to upload a new one using multipart/form-data under <file_attach_name> name. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "start_timestamp": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Start timestamp for the video in the message"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Video caption (may also be used when resending videos by file_id), 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the video caption. See formatting options for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of parse_mode"
                  },
                  "show_caption_above_media": {
                    "type": "boolean",
                    "description": "Pass True, if the caption must be shown above the message media"
                  },
                  "has_spoiler": {
                    "type": "boolean",
                    "description": "Pass True if the video needs to be covered with a spoiler animation"
                  },
                  "supports_streaming": {
                    "type": "boolean",
                    "description": "Pass True if the uploaded video is suitable for streaming"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; for private chats only"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "video"
                ]
              }
            }
          }
        }
      }
    },
    "/sendAnimation": {
      "post": {
        "operationId": "sendAnimation",
        "summary": "Use this method to send animation files (GIF or H.264/MPEG-4 AVC video without sound). On success, the sent Message is returned. Bots can currently send animation files of up to 50 MB in size, this limit may be changed in the future.",
        "description": "Use this method to send animation files (GIF or H.264/MPEG-4 AVC video without sound). On success, the sent Message is returned. Bots can currently send animation files of up to 50 MB in size, this limit may be changed in the future.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "animation": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Animation to send. Pass a file_id as String to send an animation that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get an animation from the Internet, or upload a new animation using multipart/form-data. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "duration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Duration of sent animation in seconds"
                  },
                  "width": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Animation width"
                  },
                  "height": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Animation height"
                  },
                  "thumbnail": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass \"attach://<file_attach_name>\" if the thumbnail was uploaded using multipart/form-data under <file_attach_name>. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Animation caption (may also be used when resending animation by file_id), 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the animation caption. See formatting options for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of parse_mode"
                  },
                  "show_caption_above_media": {
                    "type": "boolean",
                    "description": "Pass True, if the caption must be shown above the message media"
                  },
                  "has_spoiler": {
                    "type": "boolean",
                    "description": "Pass True if the animation needs to be covered with a spoiler animation"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; for private chats only"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "animation"
                ]
              }
            }
          }
        }
      }
    },
    "/sendVoice": {
      "post": {
        "operationId": "sendVoice",
        "summary": "Use this method to send audio files, if you want Telegram clients to display the file as a playable voice message. For this to work, your audio must be in an .OGG file encoded with OPUS, or in .MP3 format, or in .M4A format (other formats may be sent as Audio or Document). On success, the sent Message is returned. Bots can currently send voice messages of up to 50 MB in size, this limit may be changed in the future.",
        "description": "Use this method to send audio files, if you want Telegram clients to display the file as a playable voice message. For this to work, your audio must be in an .OGG file encoded with OPUS, or in .MP3 format, or in .M4A format (other formats may be sent as Audio or Document). On success, the sent Message is returned. Bots can currently send voice messages of up to 50 MB in size, this limit may be changed in the future.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "voice": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Audio file to send. Pass a file_id as String to send a file that exists on the Telegram servers (recommended), pass an HTTP URL as a String for Telegram to get a file from the Internet, or upload a new one using multipart/form-data. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "caption": {
                    "type": "string",
                    "description": "Voice message caption, 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the voice message caption. See formatting options for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of parse_mode"
                  },
                  "duration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Duration of the voice message in seconds"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; for private chats only"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "voice"
                ]
              }
            }
          }
        }
      }
    },
    "/sendVideoNote": {
      "post": {
        "operationId": "sendVideoNote",
        "summary": "As of v.4.0, Telegram clients support rounded square MPEG4 videos of up to 1 minute long. Use this method to send video messages. On success, the sent Message is returned.",
        "description": "As of v.4.0, Telegram clients support rounded square MPEG4 videos of up to 1 minute long. Use this method to send video messages. On success, the sent Message is returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername)"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "video_note": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Video note to send. Pass a file_id as String to send a video note that exists on the Telegram servers (recommended) or upload a new video using multipart/form-data. More information on Sending Files: https://core.telegram.org/bots/api#sending-files. Sending video notes by a URL is currently unsupported"
                  },
                  "duration": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Duration of sent video in seconds"
                  },
                  "length": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Video width and height, i.e. diameter of the video message"
                  },
                  "thumbnail": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InputFile"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Thumbnail of the file sent; can be ignored if thumbnail generation for the file is supported server-side. The thumbnail should be in JPEG format and less than 200 kB in size. A thumbnail's width and height should not exceed 320. Ignored if the file is not uploaded using multipart/form-data. Thumbnails can't be reused and can be only uploaded as a new file, so you can pass \"attach://<file_attach_name>\" if the thumbnail was uploaded using multipart/form-data under <file_attach_name>. More information on Sending Files: https://core.telegram.org/bots/api#sending-files"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; for private chats only"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "video_note"
                ]
              }
            }
          }
        }
      }
    },
    "/sendPaidMedia": {
      "post": {
        "operationId": "sendPaidMedia",
        "summary": "Use this method to send paid media. On success, the sent Message is returned.",
        "description": "Use this method to send paid media. On success, the sent Message is returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection on behalf of which the message will be sent"
                  },
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer",
                        "format": "int64"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel (in the format @channelusername). If the chat is a channel, all Telegram Star proceeds from this media will be credited to the chat's balance. Otherwise, they will be credited to the bot's balance."
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Unique identifier for the target message thread (topic) of the forum; for forum supergroups only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "format": "int64",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "star_count": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The number of Telegram Stars that must be paid to buy access to the media; 1-10000"
                  },
                  "media": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InputPaidMedia"
                    },
                    "description": "A JSON-serialized array describing the media to be sent; up to 10 items"
                  },
                  "payload": {
                    "type": "string",
                    "description": "Bot-defined paid media payload, 0-128 bytes. This will not be displayed to the user, use it for your internal processes."
                  },
                  "caption": {
                    "type": "string",
                    "description": "Media caption, 0-1024 characters after entities parsing"
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the media caption. See formatting options for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the caption, which can be specified instead of parse_mode"
                  },
                  "show_caption_above_media": {
                    "type": "boolean",
                    "description": "Pass True, if the caption must be shown above the message media"
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message silently. Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass True to allow up to 1000 messages per second, ignoring broadcasting limits for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance"
                  },
                  "suggested_post_parameters": {
                    "$ref": "#/components/schemas/SuggestedPostParameters",
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined."
                  },
                  "reply_parameters": {
                    "$ref": "#/components/schemas/ReplyParameters",
                    "description": "Description of the message to reply to"
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an inline keyboard, custom reply keyboard, instructions to remove a reply keyboard or to force a reply from the user"
                  }
                },
                "required": [
                  "chat_id",
                  "star_count",
                  "media"
                ]
              }
            }
          }
        }
      }
    },
    "/sendMediaGroup": {
      "post": {
        "operationId": "sendMediaGroup",
        "summary": "Use this method to send a group of photos, videos, documents or audios as an album. Documents and audio files can be only grouped in an album with messages of the same type. On success, an array of Message objects that were sent is returned.",
        "description": "Use this method to send a group of photos, videos, documents or audios as an album. Documents and audio files can be only grouped in an album with messages of the same type. On success, an array of Message objects that were sent is returned.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Message"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
[...]
